{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<h3>Линейная регрессия для определения шансов на выживание</h3>
<form action="/p_lab3" method="POST">
    <p>
        <label for="Pclass">Класс каюты</label>
        <select id="Pclass" name="Pclass" class="form_text">
            <option value="1" selected>Первый класс</option>
            <option value="2">Второй класс</option>
            <option value="3">Третий класс</option>
        </select>
    </p>

    <p>
        <label for="Sex">Пол</label>
        <select id="Sex" name="Sex">
            <option value="1" selected>Мужской</option>
            <option value="0">Женский</option>
        </select>
    </p>
    <p><input name="Age" class="form_text" type="number" step="0.0001"> Возраст</p>
    <p><input name="Siblings/Spouses Aboard" class="form_text" type="number"> Братьев и сестёр или супруг на борту</p>
    <p><input name="Parents/Children Aboard" class="form_text" type="number"> Родителей или детей на борту</p>
    <p><input name="Fare" class="form_text" type="number" step="0.0001"> Плата за проезд</p>
    <input type="submit" class="form_btn" value="Предсказать результат">
    <h1>{{class_model}}</h1>
    </p>
</form>
<b></b>
<h3>MSE = 0.134</h3>
<h3>MAE = 0.292</h3>
<h3>R-квадрат = 0.421</h3>
{% endblock %}